.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}
.title {
  margin: 40px 0 30px 0;
}

image {
  position: relative;
  width: 600px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  /* font-family: 'Quicksand', sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.25s;
}
.image{
  position: relative;
  width: 300px;
  
}

.imgClass{
  display: block;
  height: 100%;
}
.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

/* draggable */
.characters {
  /* width: 250px; */
  list-style: none;
  padding-left: 0;
  /* background-color: #ebecf0; */
}

.characters li {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  /* border: solid 2px #000000; */
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;}

  /* .listWrap{
    background-color: #ebecf0;

  } */

.characters p {
  max-width: none;
  /* font-weight: semi; */
  margin: 0;
}

/* .characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
} */

.ListStyle{
  background-color: #ebecf0 !important;
  margin: 40px 5px 5px 40px !important;
  /* padding: 0; */
  border-radius: 6px !important;
  box-shadow: rgba(50, 50, 105, 0.25) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px !important;
}

.ant-card-body{
  padding: 0 10px 0 10px !important;
  margin-left: 0 !important;
}
.ant-card-meta-title{
  color: #233656 !important;
}
.site-card-border-less-wrapper{
  padding: 0 0 20px 29px;
  background-color: #ffffff;
  background-image: url("https://images.unsplash.com/photo-1564832586408-3b10f4f41541?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1790&q=80");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
